:root {
    --cmd-line-width: 50%;
}

#interaction-container {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#interaction-container > div {
    width: var(--cmd-line-width);
    color: white;
}

#help-dialog {
    color: var(--info-text-color);
    font-size: 2rem;
    padding-bottom: 1rem;
}

.cmd-line {
    color: white;
    font-size: 3rem;

    padding: 0;
    display: flex;
    align-items: center;
}

.cmd-line > div {
    color: inherit;
}

.editable-area {
    width: 100%;
    margin: 1rem;
    caret-color: white;
    caret-shape: block;
}

.editable-area:focus {
    outline: none;
}


/* CSS "funcional" que uso en conjunto con Javascript */
.response {
    color: white;
    font-size: 2rem;
    padding: 0;
    margin: 0 0 3rem 0;
}

.tech-response {
    display: flex;
    justify-content: space-between;
}

.tech-response > img {
    width: 20%;
}


